*{margin: 0;padding: 0;border: none;font-family: Arial;font-size: 14px;}
a{text-decoration: none;}
ul{list-style: none;}

.all{
    height: 1920px;
    width: 1080px;
    background-color: #e5e2e2;    
}

.sec1{
    height: 917px;
    width: 1080px;
    background-color: #7bca67;
}
.btn-link:hover{
    background: none;
}
.sec11{
    padding-top: 50px;
}
.sec12{
    padding-top: 600px;
}



.sec2{
    height: 719px;
    width: 1017px;
/*    background-color: white;*/
    margin: 28px;
    position: relative;
}
.sec21{
    height: 182px;
    width: 1017px;
    background-color: white;
    border:2px solid white;
    border-radius:25px;
    position: absolute;
    position: relative;
}
.sec21>form>div{
    padding-left: 0px;
}
.sec21>form>.sec211,.sec212{
    float: right;
}
.sec21>form>.sec211{
    position: absolute;
    top: 10px;
    left: 0px;
}
.sec21>form>.sec212{
/*
    padding-top: 65px;
    padding-left: 120px;
*/
    position: absolute;
    top: 65px;
    left: 220px;
}
.sec22{
    height: 511px;
    width: 326px;
    background-color: white;
    position: absolute;
    top: 205px;
}
.sec22>ul{
    padding-left: 95px;
}
.sec22>ul>li{
    margin-top: 10px;
}
.sec22>ul>li>input{
    margin-top: 20px;
}
.sec23{
    height: 511px;
    width: 326px;
    background-color: white;
    margin-left: 16px;
    position: absolute;
    top: 205px;
    left: 329px;
}
.sec23>ul{
    padding-left: 95px;
}
.sec23>ul>li{
    margin-top: 10px;
}
.sec23>ul>li>input{
    margin-top: 20px;
}
.sec24{
    height: 511px;
    width: 326px;
    background-color: white;
    margin-left: 16px;
    position: absolute;
    top: 205px;
    left: 670px;
}
.sec24>ul{
    padding-left: 95px;
}
.sec24>ul>li{
    margin-top: 10px;
}
.sec24>ul>li>input{
    margin-top: 20px;
}

.sec22,.sec23,.sec24{
    float: left;
/*    margin-top: 18px;*/
    border:2px solid white;
    border-radius:25px;
}




.foot{
    height: 170px;
    width: 1080px;
    background-color: white;
    position: absolute;
    bottom: 210px;
}
.foot>ul{
    width: 1080px;
    position: relative;
    margin: 0 auto;
/*    padding-top: 0px;*/
}
.foot>ul>li{
    width: 1080px; 
    text-align: center;
}
.foot>ul>li>a{
    color: white;
}
.foot>ul>li>a>img：hover{
    color: green;
}






