
a{text-decoration: none;}
ul{list-style: none;}
.foot1>ul>li{
    float: left;
    margin: 50px 10px 10px 90px;
    text-align: center;
    
}
.foot11{
    height: 75px;
}
#myPanel1{
    height: 300px;
    background-color: #7bca67;
}