   *, *:before, *:after {
       margin: 0px;
       padding: 0px;
       box-sizing: border-box;
    }
    ul,li{
        list-style: none;
    }
    a{
        color: ;
        text-decoration: none;
    }
    a:hover{

    }
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");

html, body {
/*    position: fixed;*/
  height: 100%;
}

body {
  font: 12px/1 'Roboto', sans-serif;
  color: #555;
  background-color: #e5e2e2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}
        ul .cf{
            height: 52px;
        }
.cf:before, .cf:after {
  content: ' ';
  display: table;
}
.cf:after {
  clear: both;
}

.title {
/*  padding: 50px 0;*/
  height: 50px;
  font: 24px 'Open Sans', sans-serif;
  text-align: center;
}

.inner {
  height: 52px;
  max-width: 820px;
  margin: 0 auto;
}

.breadcrumbs {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
}

.breadcrumbs ul {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.breadcrumbs li {
  float: left;
  width: 20%;
}

.breadcrumbs a {
  position: relative;
  display: block;
  padding: 20px;
  padding-right: 0 !important;
  /* important overrides media queries */
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  color: #777;
  cursor: pointer;
}

.breadcrumbs a:hover {
  color: #5db048;
}

.breadcrumbs a.active {
  color: #5db048;
/*  background-color: #fafafa;*/
}
/*数字*/
.breadcrumbs a span:first-child {
  display: inline-block;
  width: 22px;
/*  height: 50px;*/
/*  padding: 2px;*/
/*  margin-right: 5px;*/
/*
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
*/
}

.breadcrumbs a.active span:first-child {
  color: #fff;
  border-color: #777;
/*  background-color: #777;*/
}

.breadcrumbs a:before,
.breadcrumbs a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
}

.breadcrumbs a:before {
  margin-left: 1px;
  border-left-color: #d5d5d5;
}

.breadcrumbs a:after {
  border-left-color: #f5f5f5;
}

.breadcrumbs a:hover:after {
  border-left-color: #eee;
}

.breadcrumbs a.active:after {
  border-left-color: #fafafa;
}

.breadcrumbs li:last-child a:before,
.breadcrumbs li:last-child a:after {
  display: none;
}

@media (max-width: 720px) {
  .breadcrumbs a {
    padding: 15px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 26px;
    border-bottom-width: 26px;
    border-left-width: 13px;
  }
}
/*宽度小于620*/
@media (max-width: 620px) {
  .breadcrumbs a {
    padding: 10px;
    font-size: 12px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 22px;
    border-bottom-width: 22px;
    border-left-width: 11px;
  }
}
@media (max-width: 520px) {

  .title {
/*  padding: 50px 0;*/
  height: 45px;
  font: 24px 'Open Sans', sans-serif;
  text-align: center;
}
  .breadcrumbs a {
    padding: 5px;
  }

  .breadcrumbs a:before,
  .breadcrumbs a:after {
    border-top-width: 16px;
    border-bottom-width: 16px;
    border-left-width: 8px;
  }

  .breadcrumbs li a span:first-child {
    display: block;
    margin: 0 auto;
  }

  .breadcrumbs li a span:last-child {
/*    display: none;*/
  }
}
/*主页*/

body{
    position: relative;
}
.sec1{
/*        width: 100%;*/
    height: 295px;;
    background-color: #7dca67;
}
@media only screen and (min-width: 800px){
.sec11{
    position: absolute;
    top: 10%;
    left: 10%;
}
    .loader-ring img{
        position: absolute;
        top: 14%;
        left: 14.5%;
    }   
.sec11 button{
   background: transparent; /* 完全透明*/
   border: none;    
}

.sec12{
    position: absolute;
    top: 18%;
    width: 500px;
    right: 10%;
}
.sec13{
    position: absolute;
    top: 38%;
    right: 24%;
}
}
@media (max-width: 600px) {
.sec11{
    position: absolute;
    top: 3%;
    left: 30%;
}
    .loader-ring img{
        position: absolute;
        top: 14%;
        left: 14.5%;
    }    
.sec11 button{
   background: transparent; /* 完全透明*/
   border: none;    
}

.sec12{
    position: absolute;
    top: 28%;
}
.sec13{
    position: absolute;
    top: 40%;
    left: 32%;
}
}
.sec2{
    height: 70px;
    background-color: white;
    margin: 6px 5px 5px 5px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
}
.sec2 img{
    margin-top: 5px;
    margin-left: 25px;
}
.sec2 form{
    float: right;
    margin-top: 28px;
    margin-right: 10px;
}

.sec3{
    height: 210px;
/*    background-color: white;*/
    margin: 0px 5px 5px 5px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    display: block;
}
.sec3 .sec31,.sec32{
    height: 210px;
    width: 32%;
    background-color: white;
    margin-right: 24px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: left;
}
.sec3 .sec33{
    height: 210px;
    width: 32%;
    background-color: white;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: right;
}
@media (max-width: 1300px) {
.sec3{
    height: 210px;
/*    background-color: white;*/
    margin: 0px 5px 5px 5px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    display: block;
}
.sec3 .sec31,.sec32{
    height: 210px;
    width: 32%;
    background-color: white;
    margin-right: 10px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: left;
}
.sec3 .sec33{
    height: 210px;
    width: 32%;
    background-color: white;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: right;
}      
}
@media (max-width: 520px) {
.sec3{
    height: 210px;
/*    background-color: white;*/
    margin: 0px 5px 5px 5px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    display: block;
}
.sec3 .sec31,.sec32{
    height: 210px;
    width: 32%;
    background-color: white;
    margin-right: 6.5px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: left;
}
.sec3 .sec33{
    height: 210px;
    width: 32%;
    background-color: white;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: right;
} 
    .sec3 .sec31,sec32,sec33{
        position: relative;
    }
    .sec3 .sec31 ul li :first-child{
        width: 70px;
        position: absolute;
        left: 10%;
    }
    .sec3 .sec32 ul li :first-child{
        width: 70px;
        position: absolute;
        left: 34%;
    }
    .sec3 .sec33 ul li :first-child{
        width: 70px;
        position: absolute;
        left: 61%;
}
    .sec3 .sec31 input{
        position: absolute;
        top: 120px;
    }  
    .sec3 .sec32 input{
        position: absolute;
        top: 120px;
    }    
    .sec3 .sec33 input{
        position: absolute;
        top: 120px;
    }
    
}
@media (max-width: 360px) {
    .sec12{
    position: absolute;
    top: 28%;
}
.sec13{
    position: absolute;
    top: 39%;
}
.sec3{
    height: 210px;
/*    background-color: white;*/
    margin: 0px 5px 5px 5px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    display: block;
}
.sec3 .sec31,.sec32{
    height: 210px;
    width: 33%;
    background-color: white;
    margin-right: 3px;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: left;
}
.sec3 .sec33{
    height: 210px;
    width: 32%;
    background-color: white;
    border: 1px solid #e5e2e2;
    border-radius: 3%;
    float: right;
} 
    .sec3 .sec31,sec32,sec33{
        position: relative;
    }
    .sec3 .sec31 ul li :first-child{
        width: 70px;
        position: absolute;
        left: 10%;
    }
    .sec3 .sec32 ul li :first-child{
        width: 70px;
        position: absolute;
        left: 33%;
    }
    .sec3 .sec33 ul li :first-child{
        width: 70px;
        position: absolute;
        left: 61%;
}
    .sec3 .sec31 input{
        position: absolute;
        top: 120px;
    }  
    .sec3 .sec32 input{
        position: absolute;
        top: 120px;
    }    
    .sec3 .sec33 input{
        position: absolute;
        top: 120px;
    }
    
}
