.relative {
  position: relative;
}

.loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;
  width: 150px;
  height: 150px;
}

.loader-ring-light {
  width: 150px;
  height: 150px;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -moz-box-shadow: 0 4px 0 white inset;
  -webkit-box-shadow: 0 4px 0 white inset;
  box-shadow: 0 4px 0 white inset;
  animation: rotate-360 2s linear infinite;
}

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -moz-box-shadow: 0 0 10px 4px rgba(144, 238 ,144, 0.5) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(144, 238 ,144, 0.5) inset;
  box-shadow: 0 0 10px 4px rgba(144, 238 ,144, 0.5) inset;
}

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

