.titleyundong {
/*  padding: 50px 0;*/
  height: 50px;
  font: 24px 'Open Sans', sans-serif;
  text-align: center;
/*  background-color: #7dca67;*/
  color: #5db048;
    padding-top: 7px;
    border-bottom: 1px solid #7dca67;
}
.titleyundong img{
    position: absolute;
    top: 15px;
    left: 10px;
}
#container{
    height: 545px;
/*  background-color: #7dca67;*/
    text-align: center;
    z-index: -1;
/*    float: left;*/
    }
.kaishiyundong{
    text-align: center;
    z-index: 10;
}
.zhongjian{
    text-align: center;
    height: 540px;
/*    background-color: #7bca67;*/
}
